{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'admin/_menu.admin.html.twig' %}
        {% endblock %}
    <h1 class="text-center mt-4 mb-4 text-dark">Création d'un nouvel article</h1>

    {{ include('admin_article/_form.html.twig') }}

    <a href="{{ path('app_admin_article_index') }}">back to list</a>
{% endblock %}
