{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Administration{% endblock %}

{% block body %}
    {% block nav %}
        {% include 'admin/_menu.admin.html.twig' %}
    {% endblock %}

    <h1 class="text-center mt-5">{{ title }} </h1>

{% endblock %}
